* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7c7c7c; /* Light blue background */
  /* background-image: linear-gradient(to right, #a1c4fd, #c2e9fb); Blue gradient background */
  font-family: Arial, sans-serif;
  color: white;
  font-weight: 500;
}


#main-heading {
  position: relative;
  text-align: center;
  top: 40px;
  font-size: 80px;
  color: #c4defa;
}

.card {
  width: 50%;
  max-width: 470px;
  background-image: linear-gradient(135deg, #78cecd 0%, #c4defa 100%); /* Pink-peach gradient */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 20px;
  margin: 100px auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  outline: none;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 85%;
  max-width: 70%;
  height: 60px;
  font-size: 20px;
}

button {
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  margin: auto 16px;
}

button:hover {
  transform: scale(1.7);
  cursor: pointer;
}

.weather {
  position: relative;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #ffffff66; */
  border-radius: 10px;
  right: 10%;
  height: auto;
  width: 70%;
  display: none;
}

.weather img {
  width: 100%;
  height: 50%;
}

.weather .city-detail {
  position: relative;
  margin: 20px;
  font: 700;
  font-family: monospace;
  color: white;
}

.weather .city-detail h1 {
  font-size: 60px;
}

.weather .city-detail h2 {
  font-size: 30px;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  display: none;
}

.details div {
  background-color: #ffffff66; /* Light semi-transparent white */
  padding: 15px;
  border-radius: 10px;
  margin: 0 2%;
  width: 45%;
  display: flex;
  align-items: center;
}

.details img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.details h3,
.details p {
  margin: 0;
  text-align: right;
  color: #333;
}

.details h3 {
  font-size: 14px;
}

.details p {
  font-size: 14px;
  color: #555;
  font-weight: 800;
  margin-left: 3%;
}

.details .humidity .humidity-value {
  position: relative;
  width: 50px;
}

.details .wind-speed .wind-value {
  font-size: 18px;
}

.error {
  position: relative;
  text-align: left;
  /* margin-left: 10px; */
  font-size: 14px;
  margin-top: 10%;
  font-size: 30px;
  display: none;
  color: red;
}
